<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto text-center">
      <h1 class="my-4 display-2">About</h1>
      <h4 class="mb-4">ながのCAFEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリデーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。</h4>
        <div>
          <%= image_tag 'cake-4910417_1920.jpeg', :size => '426x242' %>
        </div>
    </div>
  </div>
</div>

