<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2 class="mt-4">配送先登録/一覧</h2>
      <%= render 'layouts/errors', obj: @shipping_address %>
      <%= render 'form', shipping_address: @shipping_address %>
      <%= render 'index', shipping_addresses: @shipping_addresses %>
    </div>
  </div>
</div>
